header{
  height:15%;
  padding:0;
  background-color: $blue;
  .logoava{
    padding:5px 0 5px 0;
    margin:0;
  }
  .logo{
    border: 2px solid rgba(255,255,255, 0.5);
    border-radius: 4px;
    height: 80px;
    width: 80px;
    padding: 15px;
    margin: 10px 0 10px 0;
    float: left;
  }
  .ava_dash{
    border-radius:4px;
    height:80px;
    width:80px;
    overflow:hidden;
    float:right;
    margin:10px 0 10px 0;
  }
  .nameMsgSet{
    padding-top:5px;
    padding-bottom:5px;
    .user{
      font-size:1.5rem;
    }
    .settings{
      font-size: 2rem;
      &:hover{
        font-size: 1rem;
      }
    }
   }
  }

  i{
    font-size:1.5rem;
  }
  li:hover{
      background-color: black;
  }

  nav{
    ul.menu{
      margin: 0;
      padding: 0;
      :after{
        content:'';
        display: block;
        clear: both;
      }
      li{
        width: 85px;
        margin: auto;
        list-style: none;
        display: inline-block;
        text-align: center;
        -moz-transition: background-color 1s, color 1s;
        -o-transition: background-color 1s, color 1s;
        -ms-transition: background-color 1s, color 1s;
        -webkit-transition: background-color 1s, color 1s;
        transition: background-color 1s, color 1s;
        a{
          display:block;
          color:white;
        }
        i{
          margin-right:0;
          font-size:3rem;
        }
        p{
          font-size:1rem;
        }
      }
    }
  }
  .koniec{
    float:right;
    height:100%;
    i{
      padding:5px;
      font-size:2.5rem;
    }
    .fi-power{
      border-left: 1px solid rgba(255,255,255, 0.5);;
      color:#e21a61;
    }
  }

main{
  background-color:#d9dada;
  color:black;
  padding:30px 0 0 30px;
  .finance_life{
    h1{
      color:black;
    }
    p{
      font-size:1rem;
    }
    .money{
    }
  }
}

.container{
  margin:auto;
}

.list_component{
  max-height: 200px;
  background-color: white;
  border-radius: 4px;
  overflow: auto;
  margin:auto;
  ul {
    list-style-type: none;
    li{
      padding-top:4px;
      border-bottom: 1px solid rgba(0,0,0, 0.5);
      &:hover{
        background-color: rgba(19,189,210, 0.5)
      }
    }
  }
}

.prodBtn {
  max-width:80%;
  margin-bottom:10px;
  padding:20px 10px 20px 20px;
  background-color: white;
  border-radius: 4px;
  display:inline;
  i{
    opacity:0.5;
    font-size:2.5rem;
    float:left;
    padding:0 10px 0 5px;
  }
  p{
    opacity:0.75;
    margin:0;
  }
}
.add, .accAna{
  margin:0;
  padding:20px;
}
.addBtn{
  padding: 10px 0 10px 0;
  margin-right:10px;
  margin-bottom:0;
  width:80px;
  background-color:$blue;
  border-radius:2px;
  color:white;
}
.switch{
  display:inline;
  margin:0;
}
