
html, body{
  height: 100%;
  margin: 0 auto;
  i{
    font-size: 2.5rem;
  }
}
//Finance Life Stream
main{
  background-color: $grey;
  color: black;
  padding: 0 0 30px 0;
  section{
    padding: 0;
  }
  .finance_life{
    .streamValues{
      display: flex;
      flex-wrap: nowrap;
      flex-direction: row;
      justify-content: space-between;
      .streamItem{
        display: flex;
        flex-wrap: nowrap;
        flex-direction: column;
        justify-content: space-between;
        h3{
          margin: 0;
          font-size:28px;
        }
        p{
          font-size: 28px;
        }
      }
    }
    h1{
      margin: 0;
      color: black;
    }
  }
}
.chartBig{
  padding-bottom: 10px;
}
  //History list
  .list_component{
    max-height: 350px;
    background-color: white;
    border-radius: 4px;
    overflow: auto;
    margin: auto;
    padding: 0;
    ul {
      list-style-type: none;
      margin-left: 10px;
      margin-right: 20px;
      li{
        padding: 10px 0 10px 0;
        border-bottom: 1px solid rgba(0,0,0, 0.3);
        &:hover{
          background-color: rgba(19,189,210, 0.5)
        }
      }
    }
  }
