main{
  padding-top: 20px;
  .discover, .take{
    padding: 15px 0 15px 0;
  }
  .show{
    padding-top: 5px;
  }
  .flexBadges{
    width: 100%;
    height: 100%;
    display:flex;
    flex-direction: row;
    background-color: #d9dada;
    flex-wrap: wrap;
  }
  .square{
    font-weight: 700;
    text-align: center;
    position: relative;
    margin: 0 10px 0 0;
    border-radius: 4px;
    width: 185px;
    height: 185px;
    background-color: white;
    background-size: cover;
    overflow: hidden;
    @include transition(box-shadow .4s);
    &.inProgress{
      color: white;
      .fi-star{
        color: white;
      }
    }
    i{
      z-index:3;
      font-size: 3rem;
      position: absolute;
      width: 40px;
      &.fi-lock {
        right: 15px;
        color: #d9dada;
      }
      &.fi-check {
        display: none;
        left: 12px;
      }
    }
    .percent{
      font-size: 30px;
      position: absolute;
      z-index: 3;
      top: 10px;
      left: 7%;
    }
    .badgeTitle{
      margin: 0;
      width: 100%;
      position: absolute ;
      top: 75%;
      z-index:3;
      font-size: 20px;
      letter-spacing: -0.5px;
    }
    img{
      float: left;
      width: 100%;
      height: 100%;
    }
    .loading{
      top: 0;
      right:0;
      position: absolute;
      z-index: 2;
      height: 100%;
      background-color: #13bdd2;
      &.one{
        width: 0%;
      }
      &.two{
        width: 90%;
      }
      &.three{
        width: 52%;
      }
      &.four{
        width: 0%;
      }
      &.five{
        width: 24%;
      }
    }
    &:hover{
      cursor: pointer;
      box-shadow: 3px 3px $iconGray;
    }
  }
  .sqrDiscover{
    @extend .square;
    background-image: url("../images/gry/badge1.png");
  }
  .sqrTake{
    @extend .square;
    background-image: url("../images/gry/badge2.png");
    .fi-star{
      z-index: 3;
      font-size: 2rem;
      position: absolute;
      width: 40px;
      color: #d9dada;
      &.one{
        right: 5px;
      }
      &.two{
        right:30px;
      }
      &.three{
        right: 55px;
      }
    }
  }

}
