//Header - Logo, Avatar, Nav, PowerBtn ---- Search input in search.scss

header {
  padding-bottom:0;
  background-color: #13bdd2;
  .title-bar {
    background-color: $dark-green;
    display: flex;
    justify-content: flex-start !important;
  }
  .logoAva{
    display: flex;
    justify-content: flex-end;
    flex-direction: row;
    align-items: center;
    .logoDash,.avat{
      overflow: hidden;
      border-radius: 4px;
      height: 85px;
      width: 85px;
      position: relative;
    }
    .logoDash{
      border: 1px solid rgba(255,255,255, 0.3);
      padding: 15px 10px 15px 10px;
      .three{
        position: absolute;
        transform: scale(0.6);
        top: 10px;
        right: 8px;
      }
      &:hover{
        .three{
          animation: jump;
          animation-duration:.7s;
          animation-iteration-count: 1;
        }
      }
    }
    .avat{
      .avatarImg{
        width: 100%;
        height: 100%;
        @include transition(filter .4s);
        @include transition(transform .4s);
      }
      .change{
        opacity: 0;
        text-align: center;
        position: absolute;
        top:0;
        left: 0;
        padding: 0 0 0px 5px;
        border-radius: 4px;
        width:100%;
        height:100%;
        background-color: rgba(0,0,0, .5);
        transition-delay: 1s;
        @include transition(opacity .4s);
        i{
          font-size: 55px;
        }
      }
      &:hover{
        .avatarImg{
          transform: scale(1.2);
          filter:blur(2px);
        }
        .change{
          opacity: 1;
        }
      }
    }
  }
  .nameMsgSet{
    position: relative;
    z-index:3;
    display: flex;
    flex-direction: column;
    justify-content: center;
    i{
      font-size:1.5rem;
      &:hover{
        color:white;
      }
    }
    .has-tip{
      border:0;
      padding-top:8px;
    }
    .user{
      color:white;
      font-size:1.5rem;
    }
    .settings{
      font-size: 2rem;
      &:hover{
        transform-origin: 50% 55%;
        animation: obrot 3s linear 0s infinite;
      }
    }
   }
   nav{
     ul.menu{
       position: relative;
       z-index: 2;
       padding:0;
       @media only screen and (max-width: 40em){
         display: flex;
         justify-content: center;
       }
       li{
         height: 100%;
         position: relative;
         width: 90px;
         padding: 20px;
         list-style: none;
         @include transition(background-color .4s);
         .half-circle{
           margin: auto;
           opacity: 0;
           background-color: black;
           position: absolute;
           top: 100%;
           left: 40%;
           border-radius: 0 0 20px 20px;
           width: 20px;
           height: 10px;
           @include transition(opacity .4s);
         }
         &:hover{
           background-color: black;
           .half-circle{
             opacity: 1;
           }
         }
         a{
           height: 100%;
           width: 100%;
           line-height: 0;
           display: flex;
           flex-wrap: wrap;
           justify-content: center;
           align-content: space-around;
           color: white;
         }
         i{
           margin: 0 auto;
           font-size: 2.5rem;
         }
         p{
           margin: 0;
           font-size: 1rem;
         }
       }
     }
   }
   .srcLog{
     display: inline-block;
     float: right;
     @media only screen and (max-width: 40em){
       padding-bottom: 10px;
       display: flex;
       flex-direction: row-reverse;
       justify-content: center;
     }
   }
  }
