//Header - Logo, Avatar, Nav, PowerBtn ---- Search input in search.scss
header {
  padding-bottom:0;
  background-color: #13bdd2;
  .logoAva {
    padding-top:20px;
    img {
      border-radius: 4px;
      height: 80px;
      width: 80px;
      .logoM{
        border: 1px solid rgba(255,255,255, 0.3);
        padding: 15px 10px 15px 10px;
      }
      .avatarM{
        border-radius: 4px;
        height: 80px;
        width: 80px;
        }
      }
    }
  .nameMsgSet{
    padding-top:20px;
    i{
      font-size:1.5rem;
      &:hover{
        color:white;
      }
    }
    .has-tip{
      border:0;
      padding-top:8px;
    }
    .user{
      color:white;
      font-size:1.5rem;
    }
    .settings{
      font-size: 2rem;
      &:hover{
        transform-origin: 50% 55%;
        animation: obrot 3s linear 0s infinite;
      }
    }
   }
  }

  nav{
    ul.menu{
      li{
        position: relative;
        padding:20px 0 0 0;
        width: 90px;
        margin: 0;
        list-style: none;
        display: inline-flex;
        text-align: center;
        @include transition(background-color .4s);
        .half-circle{
          margin: auto;
          opacity: 0;
          background-color: black;
          position: absolute;
          top: 100%;
          left: 40%;
          border-radius: 0 0 20px 20px;
          width: 20px;
          height: 10px;
          @include transition(opacity .4s);
        }
        &:hover{
          background-color: black;
          .half-circle{
            opacity: 1;
          }
        }
        a{
          margin: auto;
          display: block;
          color: white;
        }
        i{
          margin-right: 0;
          font-size: 2.5rem;
        }
        p{

          font-size: 1rem;
        }
      }
    }
  }
  .srcLog{
    display: inline-block;
    float: right;
    .fi-power{
      float: right;
      padding-left: 20px;
      border-left: 1px solid rgba(255,255,255, .5);;
      color: #e21a61;
      @include transition(color .4s);
      &:hover{
        color: red;
      }
    }
  }
